html, body {
	height: 100%;
}

#Wallpaper {
    position: fixed;
	width: 0px;
	height: 0px;
	background-color: #000000;
}

#canc {
	z-index: 100;
	position: fixed;
	font-size: 20px;
    font-weight: 500;
	color: #ccc;
	right: 10px;
    top: 5px;
    cursor: pointer;
    text-shadow: 0px 0px 5px #000;
}
